@*
  Nome del progetto: SICampiona
  Copyright (C) 2025 Agenzia regionale per la protezione dell'ambiente ligure

  Questo programma è software libero: puoi ridistribuirlo e/o modificarlo
  secondo i termini della GNU Affero General Public License pubblicata dalla
  Free Software Foundation, sia la versione 3 della licenza, sia (a tua scelta)
  qualsiasi versione successiva.

  Questo programma è distribuito nella speranza che possa essere utile,
  ma SENZA ALCUNA GARANZIA; senza nemmeno la garanzia implicita di
  COMMERCIABILITÀ o IDONEITÀ PER UNO SCOPO PARTICOLARE. Vedi la
  GNU Affero General Public License per ulteriori dettagli.

  Dovresti aver ricevuto una copia della GNU Affero General Public License
  insieme a questo programma. In caso contrario, vedi <https://www.gnu.org/licenses/>.
*@

@page "/TestFloatingButton"

<h3>TestFloatingButton</h3>

<div class="floating-button-container">
	<FluentButton Appearance="Appearance.Accent">
		Pulsante 1
	</FluentButton>
	<FluentButton Appearance="Appearance.Accent">
		Pulsante 2
	</FluentButton>
	<FluentButton Appearance="Appearance.Accent">
		Pulsante 3
	</FluentButton>
</div>


<FluentLabel Typo="Typography.Header">Uno</FluentLabel>
<div>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet dui a nisl pharetra volutpat eu maximus tortor. Duis sollicitudin a metus a cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus non metus tellus. Quisque velit sem, molestie ut nulla in, pretium finibus augue. Nam at metus feugiat, accumsan nisi sit amet, mollis ligula. Sed tristique neque id faucibus pellentesque. Vestibulum sit amet maximus arcu. Proin mollis sapien urna, sit amet rhoncus turpis molestie at.
</div>
<FluentLabel Typo="Typography.Header">Due</FluentLabel>
<div>
	Etiam vel lacus ornare, efficitur tellus at, sollicitudin massa. Ut congue felis neque, in placerat sem porta sit amet. Nulla dui est, congue vel interdum et, congue vitae dolor. Proin facilisis varius diam sit amet fringilla. Pellentesque quis mi quis lectus vestibulum facilisis. Vivamus pharetra neque in sollicitudin volutpat. Aliquam porttitor erat nec sagittis rhoncus. Donec nisl tellus, sodales quis egestas ut, accumsan vel libero. Pellentesque est purus, efficitur sit amet odio vel, porta varius lorem. Nullam viverra libero leo. Fusce mauris massa, accumsan at sapien nec, luctus commodo erat. Curabitur semper libero vitae laoreet iaculis. Cras lectus justo, accumsan vel viverra ut, tempus at ante.
</div>
<FluentLabel Typo="Typography.Header">Tre</FluentLabel>
<div>
	Quisque volutpat risus dolor, quis condimentum nibh faucibus non. Aliquam dignissim sapien posuere enim malesuada rutrum. Donec elementum fermentum maximus. Maecenas facilisis sapien ac mi sagittis lobortis. Aliquam mollis at orci at hendrerit. Proin ligula augue, accumsan at lorem eget, ullamcorper convallis ipsum. Maecenas laoreet ante nec tellus tincidunt, sed elementum urna lacinia. Mauris at vehicula elit, non imperdiet augue. Aenean quis risus non mi placerat faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed in leo dictum, sodales eros vel, scelerisque enim. Aliquam bibendum, magna sed volutpat interdum, nibh leo sollicitudin lectus, ullamcorper interdum felis justo et augue. Vestibulum venenatis eros leo, non mollis lacus sollicitudin ac. Aenean vulputate tellus purus, ac posuere lacus convallis in.
</div>
<div>
	Donec pharetra condimentum sollicitudin. Curabitur id neque lorem. Ut urna arcu, interdum nec feugiat id, maximus nec diam. Integer ut blandit odio, quis accumsan metus. Vestibulum convallis, orci vel ultrices tempor, ante massa faucibus orci, nec elementum nibh lacus eget mauris. Aenean a sollicitudin ipsum. Mauris eget sodales sapien. Donec nec eros enim. Nullam non ipsum pretium, hendrerit arcu ac, sagittis nisi. Nullam placerat aliquam nibh, et porta magna volutpat ac. Cras pretium fermentum sollicitudin. Fusce ex lorem, dignissim sed dui a, mattis venenatis sem. Donec a ligula ut est elementum sollicitudin. Praesent tincidunt ex venenatis turpis tempor facilisis.
</div>
<div>
	Praesent et condimentum lectus. Integer nec dapibus ligula. Nulla quis laoreet ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean ut augue vitae arcu ultrices sollicitudin. Etiam et vulputate libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus tellus tortor, congue a quam eget, ornare pulvinar enim. Vivamus scelerisque magna non velit ullamcorper auctor. Duis ut enim dolor. Fusce ligula augue, volutpat eu sem non, suscipit facilisis magna.
</div>
<div>
	Sed et sapien pretium, scelerisque augue sed, porta dui. Duis eget arcu lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed aliquet feugiat arcu id volutpat. Vivamus sodales libero consequat nunc pretium, vitae placerat felis volutpat. Nunc egestas sem at diam eleifend mollis. Ut lacus lorem, rutrum a lacus et, tincidunt ultrices arcu. Pellentesque iaculis risus vel pharetra pretium. Ut augue mauris, vestibulum vitae mauris sed, volutpat volutpat risus. Praesent pretium elit a ligula pretium venenatis. Nunc lacus metus, congue id dui in, efficitur facilisis mauris. Aenean mattis, arcu eget facilisis porta, tellus ligula feugiat quam, a maximus nisl leo sed neque. Proin tincidunt ac lorem non suscipit. Sed id volutpat dui.
</div>
<div>
	Vestibulum eu massa vel felis feugiat laoreet. Mauris sit amet lorem quis diam egestas porta in id risus. Sed at lectus dui. Aenean porta, libero a ultricies ornare, nisi nisi consequat magna, tempor bibendum felis purus ac tellus. Curabitur hendrerit metus nunc. Nulla commodo mauris arcu. Vestibulum sed condimentum elit, eget ultricies velit. Etiam sed libero hendrerit, pharetra ligula sed, accumsan nulla. Praesent rutrum eros vitae sagittis dictum. Nullam aliquet, nisi et laoreet suscipit, odio nisl imperdiet eros, ac tempor nisl metus a mauris. Sed ut enim tempus, efficitur enim a, pretium odio. Vestibulum elit urna, vehicula id tempus faucibus, congue vitae magna. Mauris finibus metus eu placerat imperdiet. Curabitur nisl lacus, mollis ac efficitur ac, mollis eu nisl.
</div>
<div>
	In velit mi, molestie id facilisis id, lacinia sed mi. Ut commodo, eros ut pellentesque rutrum, augue purus tempus libero, nec scelerisque tortor erat vitae ex. Aenean sodales commodo ex ac cursus. Maecenas sodales erat quam. Fusce fermentum accumsan metus ut bibendum. Sed molestie aliquam diam sit amet tincidunt. Aliquam rutrum vulputate lacinia. Fusce sed magna in risus ultrices tempus nec non massa. Curabitur mauris lacus, dignissim sed mi id, ullamcorper tristique lectus. Morbi non nisi odio. Etiam vestibulum, nulla ac dapibus euismod, lacus lorem tempor ligula, quis efficitur mauris ex non nisi. Integer ultricies sem sed eros auctor, vitae lacinia mi gravida.
</div>
<div>
	Aliquam id efficitur dolor, et euismod dolor. Sed congue malesuada aliquam. Fusce rutrum pharetra facilisis. Donec ut arcu fringilla, tempus lorem sed, pharetra est. Pellentesque scelerisque vel nisi eu vulputate. Nullam auctor nibh sit amet urna sollicitudin, vitae suscipit nibh vulputate. Quisque finibus, magna quis aliquam interdum, urna risus rutrum velit, at gravida nisi dui ac neque. Quisque accumsan vulputate ante, rutrum lacinia sem volutpat eget. In at semper lorem, non tincidunt metus. Duis nec est ligula. Phasellus eu aliquet velit. Cras in dictum nisi. Praesent consectetur ipsum non aliquam blandit.
</div>
<div>
	Praesent posuere euismod nulla vel sagittis. Mauris dapibus maximus posuere. Morbi non mi elit. In hac habitasse platea dictumst. Nam iaculis venenatis lacus. Nam non ullamcorper lectus, vitae consequat mi. Suspendisse imperdiet sapien vitae consequat cursus. Phasellus dictum, nisi bibendum malesuada hendrerit, turpis libero aliquam tellus, id porta odio nulla at est. Nam vehicula enim at tellus tempor elementum. Nulla non feugiat dui, in sodales tortor. Duis quis rutrum enim. Nam nec erat ultrices, sodales ante eget, vulputate magna. Duis pretium felis at tristique aliquam. Donec iaculis ipsum a rutrum bibendum. Fusce vel auctor turpis, sit amet varius arcu.
</div>
<div>
	Donec pharetra condimentum sollicitudin. Curabitur id neque lorem. Ut urna arcu, interdum nec feugiat id, maximus nec diam. Integer ut blandit odio, quis accumsan metus. Vestibulum convallis, orci vel ultrices tempor, ante massa faucibus orci, nec elementum nibh lacus eget mauris. Aenean a sollicitudin ipsum. Mauris eget sodales sapien. Donec nec eros enim. Nullam non ipsum pretium, hendrerit arcu ac, sagittis nisi. Nullam placerat aliquam nibh, et porta magna volutpat ac. Cras pretium fermentum sollicitudin. Fusce ex lorem, dignissim sed dui a, mattis venenatis sem. Donec a ligula ut est elementum sollicitudin. Praesent tincidunt ex venenatis turpis tempor facilisis.
</div>
<div>
	Praesent et condimentum lectus. Integer nec dapibus ligula. Nulla quis laoreet ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean ut augue vitae arcu ultrices sollicitudin. Etiam et vulputate libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus tellus tortor, congue a quam eget, ornare pulvinar enim. Vivamus scelerisque magna non velit ullamcorper auctor. Duis ut enim dolor. Fusce ligula augue, volutpat eu sem non, suscipit facilisis magna.
</div>
<div>
	Sed et sapien pretium, scelerisque augue sed, porta dui. Duis eget arcu lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed aliquet feugiat arcu id volutpat. Vivamus sodales libero consequat nunc pretium, vitae placerat felis volutpat. Nunc egestas sem at diam eleifend mollis. Ut lacus lorem, rutrum a lacus et, tincidunt ultrices arcu. Pellentesque iaculis risus vel pharetra pretium. Ut augue mauris, vestibulum vitae mauris sed, volutpat volutpat risus. Praesent pretium elit a ligula pretium venenatis. Nunc lacus metus, congue id dui in, efficitur facilisis mauris. Aenean mattis, arcu eget facilisis porta, tellus ligula feugiat quam, a maximus nisl leo sed neque. Proin tincidunt ac lorem non suscipit. Sed id volutpat dui.
</div>
<div>

	Vestibulum eu massa vel felis feugiat laoreet. Mauris sit amet lorem quis diam egestas porta in id risus. Sed at lectus dui. Aenean porta, libero a ultricies ornare, nisi nisi consequat magna, tempor bibendum felis purus ac tellus. Curabitur hendrerit metus nunc. Nulla commodo mauris arcu. Vestibulum sed condimentum elit, eget ultricies velit. Etiam sed libero hendrerit, pharetra ligula sed, accumsan nulla. Praesent rutrum eros vitae sagittis dictum. Nullam aliquet, nisi et laoreet suscipit, odio nisl imperdiet eros, ac tempor nisl metus a mauris. Sed ut enim tempus, efficitur enim a, pretium odio. Vestibulum elit urna, vehicula id tempus faucibus, congue vitae magna. Mauris finibus metus eu placerat imperdiet. Curabitur nisl lacus, mollis ac efficitur ac, mollis eu nisl.
</div>
<div>

	In velit mi, molestie id facilisis id, lacinia sed mi. Ut commodo, eros ut pellentesque rutrum, augue purus tempus libero, nec scelerisque tortor erat vitae ex. Aenean sodales commodo ex ac cursus. Maecenas sodales erat quam. Fusce fermentum accumsan metus ut bibendum. Sed molestie aliquam diam sit amet tincidunt. Aliquam rutrum vulputate lacinia. Fusce sed magna in risus ultrices tempus nec non massa. Curabitur mauris lacus, dignissim sed mi id, ullamcorper tristique lectus. Morbi non nisi odio. Etiam vestibulum, nulla ac dapibus euismod, lacus lorem tempor ligula, quis efficitur mauris ex non nisi. Integer ultricies sem sed eros auctor, vitae lacinia mi gravida.
</div>
<div>
	Aliquam id efficitur dolor, et euismod dolor. Sed congue malesuada aliquam. Fusce rutrum pharetra facilisis. Donec ut arcu fringilla, tempus lorem sed, pharetra est. Pellentesque scelerisque vel nisi eu vulputate. Nullam auctor nibh sit amet urna sollicitudin, vitae suscipit nibh vulputate. Quisque finibus, magna quis aliquam interdum, urna risus rutrum velit, at gravida nisi dui ac neque. Quisque accumsan vulputate ante, rutrum lacinia sem volutpat eget. In at semper lorem, non tincidunt metus. Duis nec est ligula. Phasellus eu aliquet velit. Cras in dictum nisi. Praesent consectetur ipsum non aliquam blandit.
</div>
<div>
	Praesent posuere euismod nulla vel sagittis. Mauris dapibus maximus posuere. Morbi non mi elit. In hac habitasse platea dictumst. Nam iaculis venenatis lacus. Nam non ullamcorper lectus, vitae consequat mi. Suspendisse imperdiet sapien vitae consequat cursus. Phasellus dictum, nisi bibendum malesuada hendrerit, turpis libero aliquam tellus, id porta odio nulla at est. Nam vehicula enim at tellus tempor elementum. Nulla non feugiat dui, in sodales tortor. Duis quis rutrum enim. Nam nec erat ultrices, sodales ante eget, vulputate magna. Duis pretium felis at tristique aliquam. Donec iaculis ipsum a rutrum bibendum. Fusce vel auctor turpis, sit amet varius arcu.
</div>
<div>
	Donec pharetra condimentum sollicitudin. Curabitur id neque lorem. Ut urna arcu, interdum nec feugiat id, maximus nec diam. Integer ut blandit odio, quis accumsan metus. Vestibulum convallis, orci vel ultrices tempor, ante massa faucibus orci, nec elementum nibh lacus eget mauris. Aenean a sollicitudin ipsum. Mauris eget sodales sapien. Donec nec eros enim. Nullam non ipsum pretium, hendrerit arcu ac, sagittis nisi. Nullam placerat aliquam nibh, et porta magna volutpat ac. Cras pretium fermentum sollicitudin. Fusce ex lorem, dignissim sed dui a, mattis venenatis sem. Donec a ligula ut est elementum sollicitudin. Praesent tincidunt ex venenatis turpis tempor facilisis.
</div>
<div>
	Praesent et condimentum lectus. Integer nec dapibus ligula. Nulla quis laoreet ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean ut augue vitae arcu ultrices sollicitudin. Etiam et vulputate libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus tellus tortor, congue a quam eget, ornare pulvinar enim. Vivamus scelerisque magna non velit ullamcorper auctor. Duis ut enim dolor. Fusce ligula augue, volutpat eu sem non, suscipit facilisis magna.
</div>
<div>
	Sed et sapien pretium, scelerisque augue sed, porta dui. Duis eget arcu lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed aliquet feugiat arcu id volutpat. Vivamus sodales libero consequat nunc pretium, vitae placerat felis volutpat. Nunc egestas sem at diam eleifend mollis. Ut lacus lorem, rutrum a lacus et, tincidunt ultrices arcu. Pellentesque iaculis risus vel pharetra pretium. Ut augue mauris, vestibulum vitae mauris sed, volutpat volutpat risus. Praesent pretium elit a ligula pretium venenatis. Nunc lacus metus, congue id dui in, efficitur facilisis mauris. Aenean mattis, arcu eget facilisis porta, tellus ligula feugiat quam, a maximus nisl leo sed neque. Proin tincidunt ac lorem non suscipit. Sed id volutpat dui.
</div>
<div>

	Vestibulum eu massa vel felis feugiat laoreet. Mauris sit amet lorem quis diam egestas porta in id risus. Sed at lectus dui. Aenean porta, libero a ultricies ornare, nisi nisi consequat magna, tempor bibendum felis purus ac tellus. Curabitur hendrerit metus nunc. Nulla commodo mauris arcu. Vestibulum sed condimentum elit, eget ultricies velit. Etiam sed libero hendrerit, pharetra ligula sed, accumsan nulla. Praesent rutrum eros vitae sagittis dictum. Nullam aliquet, nisi et laoreet suscipit, odio nisl imperdiet eros, ac tempor nisl metus a mauris. Sed ut enim tempus, efficitur enim a, pretium odio. Vestibulum elit urna, vehicula id tempus faucibus, congue vitae magna. Mauris finibus metus eu placerat imperdiet. Curabitur nisl lacus, mollis ac efficitur ac, mollis eu nisl.
</div>
<div>

	In velit mi, molestie id facilisis id, lacinia sed mi. Ut commodo, eros ut pellentesque rutrum, augue purus tempus libero, nec scelerisque tortor erat vitae ex. Aenean sodales commodo ex ac cursus. Maecenas sodales erat quam. Fusce fermentum accumsan metus ut bibendum. Sed molestie aliquam diam sit amet tincidunt. Aliquam rutrum vulputate lacinia. Fusce sed magna in risus ultrices tempus nec non massa. Curabitur mauris lacus, dignissim sed mi id, ullamcorper tristique lectus. Morbi non nisi odio. Etiam vestibulum, nulla ac dapibus euismod, lacus lorem tempor ligula, quis efficitur mauris ex non nisi. Integer ultricies sem sed eros auctor, vitae lacinia mi gravida.
</div>
<div>
	Aliquam id efficitur dolor, et euismod dolor. Sed congue malesuada aliquam. Fusce rutrum pharetra facilisis. Donec ut arcu fringilla, tempus lorem sed, pharetra est. Pellentesque scelerisque vel nisi eu vulputate. Nullam auctor nibh sit amet urna sollicitudin, vitae suscipit nibh vulputate. Quisque finibus, magna quis aliquam interdum, urna risus rutrum velit, at gravida nisi dui ac neque. Quisque accumsan vulputate ante, rutrum lacinia sem volutpat eget. In at semper lorem, non tincidunt metus. Duis nec est ligula. Phasellus eu aliquet velit. Cras in dictum nisi. Praesent consectetur ipsum non aliquam blandit.
</div>
<div>
	Praesent posuere euismod nulla vel sagittis. Mauris dapibus maximus posuere. Morbi non mi elit. In hac habitasse platea dictumst. Nam iaculis venenatis lacus. Nam non ullamcorper lectus, vitae consequat mi. Suspendisse imperdiet sapien vitae consequat cursus. Phasellus dictum, nisi bibendum malesuada hendrerit, turpis libero aliquam tellus, id porta odio nulla at est. Nam vehicula enim at tellus tempor elementum. Nulla non feugiat dui, in sodales tortor. Duis quis rutrum enim. Nam nec erat ultrices, sodales ante eget, vulputate magna. Duis pretium felis at tristique aliquam. Donec iaculis ipsum a rutrum bibendum. Fusce vel auctor turpis, sit amet varius arcu.
</div>
<div>
	Donec pharetra condimentum sollicitudin. Curabitur id neque lorem. Ut urna arcu, interdum nec feugiat id, maximus nec diam. Integer ut blandit odio, quis accumsan metus. Vestibulum convallis, orci vel ultrices tempor, ante massa faucibus orci, nec elementum nibh lacus eget mauris. Aenean a sollicitudin ipsum. Mauris eget sodales sapien. Donec nec eros enim. Nullam non ipsum pretium, hendrerit arcu ac, sagittis nisi. Nullam placerat aliquam nibh, et porta magna volutpat ac. Cras pretium fermentum sollicitudin. Fusce ex lorem, dignissim sed dui a, mattis venenatis sem. Donec a ligula ut est elementum sollicitudin. Praesent tincidunt ex venenatis turpis tempor facilisis.
</div>
<div>
	Praesent et condimentum lectus. Integer nec dapibus ligula. Nulla quis laoreet ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean ut augue vitae arcu ultrices sollicitudin. Etiam et vulputate libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus tellus tortor, congue a quam eget, ornare pulvinar enim. Vivamus scelerisque magna non velit ullamcorper auctor. Duis ut enim dolor. Fusce ligula augue, volutpat eu sem non, suscipit facilisis magna.
</div>
<div>
	Sed et sapien pretium, scelerisque augue sed, porta dui. Duis eget arcu lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed aliquet feugiat arcu id volutpat. Vivamus sodales libero consequat nunc pretium, vitae placerat felis volutpat. Nunc egestas sem at diam eleifend mollis. Ut lacus lorem, rutrum a lacus et, tincidunt ultrices arcu. Pellentesque iaculis risus vel pharetra pretium. Ut augue mauris, vestibulum vitae mauris sed, volutpat volutpat risus. Praesent pretium elit a ligula pretium venenatis. Nunc lacus metus, congue id dui in, efficitur facilisis mauris. Aenean mattis, arcu eget facilisis porta, tellus ligula feugiat quam, a maximus nisl leo sed neque. Proin tincidunt ac lorem non suscipit. Sed id volutpat dui.
</div>
<div>

	Vestibulum eu massa vel felis feugiat laoreet. Mauris sit amet lorem quis diam egestas porta in id risus. Sed at lectus dui. Aenean porta, libero a ultricies ornare, nisi nisi consequat magna, tempor bibendum felis purus ac tellus. Curabitur hendrerit metus nunc. Nulla commodo mauris arcu. Vestibulum sed condimentum elit, eget ultricies velit. Etiam sed libero hendrerit, pharetra ligula sed, accumsan nulla. Praesent rutrum eros vitae sagittis dictum. Nullam aliquet, nisi et laoreet suscipit, odio nisl imperdiet eros, ac tempor nisl metus a mauris. Sed ut enim tempus, efficitur enim a, pretium odio. Vestibulum elit urna, vehicula id tempus faucibus, congue vitae magna. Mauris finibus metus eu placerat imperdiet. Curabitur nisl lacus, mollis ac efficitur ac, mollis eu nisl.
</div>
<div>

	In velit mi, molestie id facilisis id, lacinia sed mi. Ut commodo, eros ut pellentesque rutrum, augue purus tempus libero, nec scelerisque tortor erat vitae ex. Aenean sodales commodo ex ac cursus. Maecenas sodales erat quam. Fusce fermentum accumsan metus ut bibendum. Sed molestie aliquam diam sit amet tincidunt. Aliquam rutrum vulputate lacinia. Fusce sed magna in risus ultrices tempus nec non massa. Curabitur mauris lacus, dignissim sed mi id, ullamcorper tristique lectus. Morbi non nisi odio. Etiam vestibulum, nulla ac dapibus euismod, lacus lorem tempor ligula, quis efficitur mauris ex non nisi. Integer ultricies sem sed eros auctor, vitae lacinia mi gravida.
</div>
<div>
	Aliquam id efficitur dolor, et euismod dolor. Sed congue malesuada aliquam. Fusce rutrum pharetra facilisis. Donec ut arcu fringilla, tempus lorem sed, pharetra est. Pellentesque scelerisque vel nisi eu vulputate. Nullam auctor nibh sit amet urna sollicitudin, vitae suscipit nibh vulputate. Quisque finibus, magna quis aliquam interdum, urna risus rutrum velit, at gravida nisi dui ac neque. Quisque accumsan vulputate ante, rutrum lacinia sem volutpat eget. In at semper lorem, non tincidunt metus. Duis nec est ligula. Phasellus eu aliquet velit. Cras in dictum nisi. Praesent consectetur ipsum non aliquam blandit.
</div>
<div>
	Praesent posuere euismod nulla vel sagittis. Mauris dapibus maximus posuere. Morbi non mi elit. In hac habitasse platea dictumst. Nam iaculis venenatis lacus. Nam non ullamcorper lectus, vitae consequat mi. Suspendisse imperdiet sapien vitae consequat cursus. Phasellus dictum, nisi bibendum malesuada hendrerit, turpis libero aliquam tellus, id porta odio nulla at est. Nam vehicula enim at tellus tempor elementum. Nulla non feugiat dui, in sodales tortor. Duis quis rutrum enim. Nam nec erat ultrices, sodales ante eget, vulputate magna. Duis pretium felis at tristique aliquam. Donec iaculis ipsum a rutrum bibendum. Fusce vel auctor turpis, sit amet varius arcu.
</div>
<FluentLabel Typo="Typography.Header">Fine</FluentLabel>

@code {

}
